@import '@/assets/style/variables.scss';

// Google Fonts (400 / 700)
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans Narrow', sans-serif;
}

main{
    width: 100%;
    background-color: $c-main;
}

.container{
    max-width: $container-width;
    margin: auto;
}

// Elements
.btn-type-1{
    padding: 10px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border: 3px solid $c-first;
}